<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="Hogo– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template" name="description" />
    <meta content="Spruko Technologies Private Limited" name="author" />
    <meta name="keywords" content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template" /> <!-- Favicon -->
    <link rel="icon" href="Content/img/favicon.jpg" type="image/x-icon" /> <!-- Title -->
    <link rel="stylesheet" href="secaue/assets/plugins/bootstrap/css/bootstrap.min.css" /> <!-- Dashboard css -->

    <link href="secaue/assets/css/style.css" rel="stylesheet" />
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="AppJS/angular.min.js"></script>

    <script src="AppJS/ForgetPassword.js"></script>
</head>




<body class="bg-account sidebar-gone">


    <div id="global-loader" style="display: none;">
        <img src="https://www.spruko.com/demo/hogo/Hogo(ltr-rtl)/assets/images/icons/loader.svg" alt="loader" />
    </div>
    <div class="page">
        <!-- page-content -->
        <div class="page-content">
            <div class="container text-center text-dark">
                <div class="row">
                    <div class="col-lg-4 d-block mx-auto">

                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-md-12">
                                <div class="card" ng-app="MyApp">
                                    <div class="card-body" ng-controller="ForgetPasswordController">
                                        <div class="text-center mb-1">
                                            <img src="secaue/assets/images/logo.png" />

                                        </div>
                                        <h3>Forget Password</h3>
                                        <p class="text-muted">Forget Password</p>


                                        <div class="login-input-content ">
                                            <div class="input-group mb-3">
                                                <div class="form-group">
                                                    <h6>
                                                        <span class="badge badge-danger">{{errorMsg}}</span>
                                                        <span class="badge badge-success">{{seccessMsg}}</span>
                                                    </h6>
                                                </div>
                                                <div class="input-group mb-3">

                                                    <input type="text" name="UserID" ng-model="UserID" id="UserID" class="form-control" placeholder="Username">
                                                </div>

                                                <a href="javascript:;" ng-click="LoginForget()" class="btn btn-primary btn-block">Sumbit</a>

                                                <div class="col-12"><a href="login.html" class="btn btn-link box-shadow-0 px-0">Sign In</a> </div>


                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-content end -->
        </div>

        <script src="AppJS/demo.js"></script>

        <script src="AppJS/bootstrap-notify.js"></script>
    </div>
</body>

</html>
